.grid-item {
  height: 170px;
  width: 170px;
  float: left;
  background: red;
  margin: 10px;
}
.today {
  background: yellow;
  border: red 1px solid;
}
.past {
  background: black;
  border: red 1px solid;
}
.future {
  background: whitesmoke;
  border: red 1px solid;
}
.active {
}
