.grid-item {
  height: 170px;
  width: 170px;
  float: left;
  background: red;
  margin: 10px;
}

.grid-item:hover {
  opacity: 0.6;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.past {
  background: rgb(208, 208, 208);
  border: rgb(0, 0, 0) 1px solid;
}

.today {
  background: yellow;
  border: rgb(7, 23, 140) 3px dotted;
}

.future {
  background: rgba(180, 255, 180, 0.338);
  border: rgb(0, 0, 0) 1px solid;
}

